/* TODO: Move this near the component */

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space-lg)
}

.navigation__title {
  /* TODO: Move this CSS variable */
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--mindaro);
  line-height: 1.9em;
}

.navigation__title div:nth-child(1) {
  font-size: var(--text-giant);
}

.navigation__title div:nth-child(2) {
  font-size: var(--text-xl);
}

.navigation__links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.navigation--links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation--links .navigation--links a:hover,
.navigation--links a:focus {
  background-color: #ff9776;
}