/* TODO: Move this near the component */

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-lg)
}

.navigation--title {
  /* TODO: Move this CSS variable */
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--mindaro);
  line-height: 1.9em;
}

.navigation--title div:nth-child(1) {
  font-size: var(--text-xl);
  color: var(--saffron)
}

.navigation--title div:nth-child(2) {
  font-size: var(--text-giant);
}

.navigation--links {
  top: 5rem;
  left: 48px;
  margin: 0;
}

.navigation--links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  /* text-transform: uppercase; */
  color: var(--tomato);
  font-size: var(--text-xl);
}

.navigation--links a:hover,
.navigation--links a:focus {
  color: var(--saffron)
}