/* TODO: Move this near the component */

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-lg)
}

.navigation--title {
  /* TODO: Move this CSS variable */
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--mindaro);
  line-height: 1.8em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navigation--title {
    text-align: left;
  }
}

.navigation--subtitle {
  font-size: var(--text-xl);
  color: var(--saffron);
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation--subtitle {
    display: block;
  }
}

.navigation--title h1 {
  font-size: var(--text-giant);
  margin: 0;
  padding: 0;
}

.navigation--links {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation--links {
    display: block;
  }
}

.navigation--links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: lowercase;
  color: var(--tomato);
  font-size: var(--text-xl);
}

.navigation--links a:hover,
.navigation--links a:focus {
  color: var(--saffron)
}