---
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/blog-post.css";

const { url, title, description } = Astro.props;
---

<li class="blog-post">
  <a class="blog-post__title" href={url}>{title}</a>
  <p class="blog-post__description">
    {description}
  </p>
</li>
