---
import Social from "./Social.astro";
---

<style>
  footer {
    font-style: italic;
    font-size: var(--text-xl);
    text-align: center;
    padding-bottom: var(--spacing-xxl);
    padding-top: var(--spacing-xxl);
  }

  @media screen and (min-width: 768px) {
    footer {
      font-size: var(--text-sm);
    }
  }
</style>

<footer>
  <p>
    Una web de <a href="/about">tharandur</a>. Todos los textos está licenciado
    con <a
      href="https://creativecommons.org/licenses/by/4.0/"
      target="_blank"
      rel="noopener noreferrer">Creative Commons</a
    >.
  </p>
</footer>
