---
import Social from "./Social.astro";
---

<style>
  footer {
    font-style: italic;
    font-size: var(--text-sm);
    padding-bottom: var(--spacing-md);
  }
</style>

<footer>
  Una web de <a href="/about">tharandur</a>. Todos los textos está licenciado
  con <a
    href="https://creativecommons.org/licenses/by/4.0/"
    target="_blank"
    rel="noopener noreferrer">Creative Commons</a
  >.
  <!-- <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" /> -->
</footer>
