---
import "../styles/navigation.css";
---

<div class="navigation">
  <div class="navigation--title">
    <div>un blog random de</div>
    <!-- TODO: esto debe ser un h1 -->
    <div>tharandur.sbs</div>
  </div>
  <div class="navigation--links">
    <a href="/about/">¿quién?</a>
  </div>
</div>
