---
import "../styles/navigation.css";
---

<div class="navigation">
  <a class="navigation--title" href="/" aria-label="Inicio">
    <div class="navigation--subtitle">un blog random de</div>
    <h1>tharandur.sbs</h1>
  </a>
  <div class="navigation--links">
    <a href="/about/">¿quién?</a>
  </div>
</div>
