---
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/welcome.css";
import { Image } from "astro:assets";
import avatarImage from "../../img/avatar.png";
---

<div class="welcome">
  <Image
    class="welcome__avatar"
    src={avatarImage}
    alt="tharandur cartoon avatar"
    width="300"
    height="300"
  />
  <div>
    <h2 class="welcome__title">¡Hola!</h2>
    <p class="welcome__description">
      Aquí encontrarás una colección de artículos lo qué se me vaya ocurriendo.
      Espero que los disfrutes tanto como a mi me ha gustado escribirlos.
    </p>
  </div>
</div>
