---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/reset.css";
import "../styles/global.css";
const { pageTitle } = Astro.props;

const defaultTitle = "Un blog random de tharandur";
---

<!-- TODO: Change this depending the post -->
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle ?? defaultTitle}</title>
  </head>
  <body>
    <div class="main-wrapper">
      <Header />
      <div class="content">
        {pageTitle && <h1 class="content__title">{pageTitle}</h1>}
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
