---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import "./post-layout.css";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p class="post-date">{frontmatter.pubDate.toLocaleDateString()}</p>
  <div class="post-content">
    <slot />
  </div>
</BaseLayout>
