/* TODO: Check nesting */

.post-content>p:first-of-type::first-letter {
  font-weight: var(--font-weight-extra-bold);
  font-size: 100px;
  line-height: 0;
}

.post-content {
  margin-top: var(--space-xl);
}