.post-content {
  margin-top: var(--space-xl);

  &>p:first-of-type::first-letter {
    font-weight: var(--font-weight-extra-bold);
    font-size: 100px;
    line-height: 0;
  }

  img {
    width: auto;
    max-height: 500px;
    display: block;
    margin: var(--space-sm) auto;
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-light-color);
  }
}

.post-date {
  font-size: var(--text-lg);
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: var(--primary-light-color);
}